node_modules
.pnpm
.pnpm-debug.log

.next
dist
out

# (env들은 필요할 수도?)
.env
.env.*

.DS_Store
.vscode
.idea

.git
.gitignore
.gitattributes

tests
__tests__
coverage
*.md
docs
examples

*.log

*.swp
*.tmp
